.App {
  text-align: center;
}

.square {
  background-color: transparent;
  border: .125px, grey, solid;
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: bolder;
}

.board-row {
  margin: none;
  padding: none;
}
